.customerContainer {
    background-color: var(--second-color);
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .customerContainer p {
        font-size: 1.2rem;
        color: var(--first-color);
    }

    .customerContainer select {
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 4px;
        border: 1px solid hsl(from var(--third-color) h s calc(l + 15));
        background-color: var(--third-color);
        color: hsl(111, 25%, 85%);
        margin-left: 0.5rem;
    }

    .customerContainer ul {
        list-style-type: none;
        padding: 0;
        margin-top: 1rem;
    }

    .customerContainer li {
        display: flex;
        justify-content: space-between;
        background-color: var(--third-color);
        border: 1px solid hsl(from var(--third-color) h s calc(l + 15));
        border-radius: 4px;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        color: var(--first-color);
    }

        .customerContainer li strong {
            flex: 1;
        }

        .customerContainer li span {
            flex: 2;
            text-align: left;
        }
