/* Menu.css */
.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    padding: 16px;
}

.menu-item {
    border: 1px solid #ccc;
    border-radius: 2rem;
    padding: .5rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    color: black;
}

    .menu-item:hover {
        transform: scale(1.05);
    }

    .menu-item h2 {
        margin-top: 0;
    }

    .menu-item p {
        margin: 5px 0;
    }
.emoji{
    font-size: 2rem;
}