body {
    background-color: hsl(111, 25%, 32%)
}
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width:100%;  
  padding-top: 4rem; /* to give space for the header  */
  
}
*[hidden]{
    display:none;
}
